@charset "utf-8";
/*!
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 * v4.0.30-development - 2019-01-22
 *
 */
/*
 * wet-boew plugin CSS overrides
 */
.wb-mltmd {
  margin-bottom: 10px;
  margin-top: 10px; }

.wb-mltmd.video:not(.playing):not(.waiting)
.display::after {
  line-height: 1.5em; }

.dataTables_wrapper .top {
  font-size: 17px; }
