[submodule "theme-gcwu-fegc"]
	path = theme-gcwu-fegc
	url = ./
	branch = theme-gcwu-fegc
[submodule "theme-gc-intranet"]
	path = theme-gc-intranet
	url = ./
	branch = theme-gc-intranet
[submodule "GCWeb"]
	path = GCWeb
	url = ./
	branch = GCWeb
