@charset "utf-8";
/*!
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 * v4.0.14 - 2015-05-19
 *
 */
/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
/*
 * HOW TO USE THIS FILE
 * Use this file to override Bootstrap variables and WET custom variables.
 * If there is a Bootstrap variable not shown here that you want to override, go to "../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/variables" to view the variables that you can override. Simply copy and paste the variable and its applicable section (if applicable) from the Bootstrap file into this override file and override the variables as applicable.
 */
/*
 Views
 */
/* All screen views */
@media screen {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: All screen views - Splash page
 */
  #gcwu-sig {
    height: 1.5em; }
  #wmms {
    float: right;
    height: 2.1em;
    margin-top: 10px; }
  header {
    margin-top: 1.2em; }
  main > div {
    background: url("../assets/sp-pe-bg.jpg") repeat-x center top;
    margin-top: 10px;
    padding-top: 20px; }
  main h1 {
    margin: 0 0 30px;
    position: relative;
    text-align: center; }
  main h2 {
    font-size: 180%; } }

/* Small view and under */
@media screen and (max-width: 991px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Small view and under (screen only) - Splash page
 */
  main h2 {
    text-align: center; } }

/* Medium view and over */
@media screen and (min-width: 992px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Medium view and over (screen only) - Splash page
 */
  main {
    position: relative; }
    main > div:before {
      background: url("../assets/sp-pe-leaf.jpg") no-repeat 50%;
      content: " ";
      display: block;
      height: 147px;
      left: 0;
      position: absolute;
      top: 93px;
      width: 100%; }
    main h2 {
      min-height: 4em; }
    main section + section h2 {
      text-align: right; }
    main section .list-unstyled {
      margin-top: 120px; } }

/*
 Views
 */
/* All screen views */
@media screen {
  #gcwu-sig {
    height: 65px; } }
