/*!
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
/*
 Views
 */
/* All screen views */
@media screen {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: All screen views
 */
  #wb-bc li:first-child:before, [dir=rtl] #wb-bc li:before, [dir=rtl] #wb-bc li:first-child:after {
    content: none;
    padding: 0; }
  #wb-sttl a, #wb-ss a {
    color: #fff; }
  #gcwu-sig, #wmms {
    height: 1.4em; }
  #wb-sttl a:link, #wb-ss a:link, #wb-sttl a:visited, #wb-ss a:visited {
    text-decoration: none; }
  #wb-sttl a:hover, #wb-ss a:hover, #wb-sttl a:focus, #wb-ss a:focus {
    text-decoration: underline; }
  .wb-sl {
    background-color: #000;
    color: #fff;
    font-weight: 700; }
    .wb-sl:focus {
      color: #fff;
      text-decoration: none; }
  #gcwu-sig {
    margin: 10px 0; }
  #wb-bnr-ss {
    background: #618000; }
  #wb-ss {
    padding: 0.2em 0; }
    #wb-ss a {
      font-size: 120%; }
  #wb-sm .nvbar ul.menu > li > a:hover, #wb-sm .active a, #wb-sm .active summary, #wb-sm .sm, #wb-sm .sm a, #wb-sm .sm summary {
    background-color: #ccc;
    color: #000; }
  #wb-sm .nvbar ul.menu > li > a.wb-navcurr, #wb-sm .sm a.wb-navcurr, #wb-sm .sm summary.wb-navcurr, #wb-sm .sm .slflnk a.wb-navcurr {
    background: #0f315b;
    color: #fff; }
  #wb-sm .sm a:link, #wb-sm .sm a:visited {
    text-decoration: none; }
  #wb-sm .sm a:hover, #wb-sm .sm a:focus {
    text-decoration: underline; }
  #wb-sm {
    margin-top: 15px; }
    #wb-sm .nvbar {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#2a79c5), to(#1b5a9f));
      background-image: -webkit-linear-gradient(#2a79c5, #1b5a9f);
      background-image: linear-gradient(#2a79c5, #1b5a9f);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr="#FF2A79C5", endColorstr="#FF1B5A9F");
      background-color: #146094;
      border-bottom: 4px solid #ccc;
      border-top: 1px solid #87aec9; }
      #wb-sm .nvbar ul.menu {
        margin-bottom: 0; }
        #wb-sm .nvbar ul.menu > li {
          border-right: 1px solid #999;
          padding: 0; }
          #wb-sm .nvbar ul.menu > li.active {
            border-color: #ccc;
            border-right-color: #ccc; }
    #wb-sm a, #wb-sm summary {
      color: #fff;
      display: block;
      font-weight: 700;
      padding: 0.48em 0.79em;
      text-decoration: none; }
    #wb-sm .sm {
      border-bottom: 4px solid #0f315b;
      border-radius: 0 0 3px 3px; }
      #wb-sm .sm a, #wb-sm .sm summary {
        font-weight: 400; }
      #wb-sm .sm .slflnk a {
        background: #bbb; }
  #wb-bc .breadcrumb {
    background: transparent;
    margin-bottom: 0; }
  #wb-bc li:before, #wb-bc li:after {
    color: #333;
    font-family: "Glyphicons Halflings";
    font-size: 0.7em; }
  #wb-bc li:before {
    content: "\e092"; }
  #wb-dtmd {
    float: right; }
  #wb-info li {
    margin-bottom: 0.75em; }
  [dir=rtl] #wb-bc li:after {
    content: "\e091";
    padding: 0 5px; }
  [dir=rtl] #wb-dtmd {
    float: left; } }

/* Extra-small view and under */
@media screen and (max-width: 767px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Extra-small view and under (screen only)
 */ }

/* Small view and under */
@media screen and (max-width: 991px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Small view and under (screen only)
 */
  #gcwu-sig, #wb-lng {
    display: none; }
  #mb-pnl #wb-srch-sub-imprt, #mb-pnl #wb-srch-sub-imprt:hover, #mb-pnl #wb-srch-sub-imprt:focus, #mb-pnl #wb-srch-sub-imprt:active, #mb-pnl .sm-pnl a, #mb-pnl .sm-pnl summary, #mb-pnl .sm-pnl summary:hover, #mb-pnl .sm-pnl summary:focus {
    color: #fff; }
  #wmms {
    height: 2.35em;
    left: 15px;
    margin-top: -8px;
    position: absolute;
    top: -2.2em; }
  #wb-bar {
    background: #000;
    min-height: 3em; }
  #wb-bnr {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4474ad), color-stop(#4474ad), to(#174f88));
    background-image: -webkit-linear-gradient(#4474ad, #4474ad, #174f88);
    background-image: linear-gradient(#4474ad, #4474ad, #174f88);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#FF4474AD", endColorstr="#FF174F88"); }
  #wb-sttl {
    position: relative; }
    #wb-sttl a {
      font-size: 1.5em;
      text-shadow: 0 1px 1px #044062; }
  #wb-glb-mn .pnl-btn {
    float: right;
    margin: 0;
    position: relative;
    z-index: 2; }
    #wb-glb-mn .pnl-btn li {
      padding: 4px 0 4px 10px;
      width: 100%; }
    #wb-glb-mn .pnl-btn a {
      color: #000;
      display: block;
      font-size: 1.7em;
      line-height: 1em;
      width: 100%; }
    #wb-glb-mn .pnl-btn span .glyphicon-th-list {
      padding-left: 10px;
      top: 0; }
  #mb-pnl {
    background: #efefef; }
    #mb-pnl header {
      background-color: #174f88; }
    #mb-pnl nav a {
      color: #000;
      text-decoration: none; }
    #mb-pnl summary:hover, #mb-pnl summary:focus {
      background: transparent; }
    #mb-pnl .modal-body {
      background: #efefef;
      padding: 0; }
    #mb-pnl .srch-pnl .form-group {
      float: left;
      margin-right: 5px;
      width: 75%; }
    #mb-pnl #wb-srch-sub-imprt {
      background: #146094;
      border-color: #146094; }
      #mb-pnl #wb-srch-sub-imprt:hover, #mb-pnl #wb-srch-sub-imprt:focus, #mb-pnl #wb-srch-sub-imprt:active {
        background-color: #3276b1;
        border-color: #285e8e; }
    #mb-pnl .lng-ofr a {
      color: #000;
      text-decoration: none; }
    #mb-pnl .sm-pnl {
      background: #146094; }
  #wb-srch {
    margin-right: 15px;
    text-align: right; }
    #wb-srch .form-group {
      display: inline-block; }
  #wb-srch-sub {
    float: right;
    margin-left: 5px; }
  #wb-bc {
    background: -webkit-gradient(linear, left top, left bottom, from(#f0efef), to(#dfdfdd)) repeat scroll 0 0/100% auto #dfdfdd;
    background: -webkit-linear-gradient(#f0efef, #dfdfdd) repeat scroll 0 0/100% auto #dfdfdd;
    background: linear-gradient(#f0efef, #dfdfdd) repeat scroll 0 0/100% auto #dfdfdd; }
  [dir=rtl] #wb-srch {
    margin-left: 15px;
    text-align: left; }
  [dir=rtl] #wb-srch-sub {
    float: right;
    margin-left: 5px;
    margin-right: 0; }
  [dir=rtl] #mb-pnl .srch-pnl .form-group {
    float: right;
    margin-left: 5px;
    margin-right: auto;
    width: 75%; }
  [dir=rtl] #wmms {
    left: auto;
    right: 15px; }
  [dir=rtl] #wb-glb-mn > ul {
    text-align: left; }
  [dir=rtl] #wb-glb-mn .pnl-btn {
    float: left; }
    [dir=rtl] #wb-glb-mn .pnl-btn span .glyphicon-th-list {
      padding-left: 0;
      padding-right: 10px; } }

/* Medium view and under */
@media screen and (max-width: 1199px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Medium view and under (screen only)
 */ }

/* Large view and under */
@media screen and (max-width: 1599px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Large view and under (screen only)
 */ }

/* Extra-small view and over */
@media screen and (min-width: 480px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Extra-small view and over (screen only)
 */ }

/* Small view and over */
@media screen and (min-width: 768px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Small view and over (screen only)
 */
  #wb-info {
    background: #eee; }
    #wb-info:after {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#cbcbcb), to(#999));
      background-image: -webkit-linear-gradient(#cbcbcb, #999);
      background-image: linear-gradient(#cbcbcb, #999);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr="#FFCBCBCB", endColorstr="#FF999999");
      background-color: #999;
      content: " ";
      display: block;
      height: 55px; }
  #gc-tctr {
    margin-top: 1em; }
  [dir=rtl] #gc-tctr {
    padding-right: 0; }
    [dir=rtl] #gc-tctr li:first-child {
      padding-right: 0; } }

/* Medium view and over */
@media screen and (min-width: 992px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Medium view and over (screen only)
 */
  #wb-bc .container, body main.container, body > header + .container {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; }
  #wb-srch input, #wb-srch .btn {
    border-radius: 2px; }
  #wb-sec .list-group a.list-group-item.wb-navcurr, #wb-sec .list-group a.list-group-item[href]:hover, #wb-sec .list-group a.list-group-item[href]:focus {
    background: #808080;
    color: white; }
  #wb-lng a:link, #wb-lng a:visited {
    text-decoration: none; }
  #wb-lng a:hover, #wb-lng a:focus {
    text-decoration: underline; }
  #wmms {
    height: 1.9em;
    margin-top: -2.5em;
    position: absolute;
    right: 15px;
    top: -5px;
    z-index: 2; }
  #gcwu-sig {
    margin: 2.8em 0 0.25em 15px; }
  #wb-bnr {
    background: #29527d; }
  #wb-bar {
    background: #fff;
    border-bottom: 2px solid #ccc;
    border-top: 5px #494949 solid;
    -webkit-box-shadow: 0 2px 5px;
    box-shadow: 0 2px 5px;
    position: relative;
    z-index: 2; }
    #wb-bar + .container {
      background: -webkit-gradient(linear, right top, left top, from(#29527d), color-stop(#397bc5), to(#29527d));
      background: -webkit-linear-gradient(right, #29527d, #397bc5, #29527d);
      background: linear-gradient(to left, #29527d, #397bc5, #29527d);
      position: relative; }
    #wb-bar > .container > .row {
      position: relative; }
  #wb-lng {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#333));
    background-image: -webkit-linear-gradient(#494949, #333);
    background-image: linear-gradient(#494949, #333);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr="#FF494949", endColorstr="#FF333333");
    margin-right: 15px;
    padding: 0 1em;
    position: absolute;
    right: 0;
    top: 0; }
    #wb-lng ul {
      margin-bottom: 5px;
      margin-left: 0; }
    #wb-lng a {
      color: #fff; }
  #wb-srch {
    margin-top: 0.5em;
    position: absolute;
    right: 15px;
    top: 0; }
    #wb-srch input {
      padding: 2px 0; }
    #wb-srch .btn {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#ccc));
      background-image: -webkit-linear-gradient(#f0f0f0, #ccc);
      background-image: linear-gradient(#f0f0f0, #ccc);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr="#FFF0F0F0", endColorstr="#FFCCCCCC"); }
      #wb-srch .btn:hover, #wb-srch .btn:focus {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#f0f0f0));
        background-image: -webkit-linear-gradient(#ccc, #f0f0f0);
        background-image: linear-gradient(#ccc, #f0f0f0);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr="#FFCCCCCC", endColorstr="#FFF0F0F0"); }
  #wb-sttl {
    margin: 5px 0;
    min-height: 2em; }
    #wb-sttl a {
      font-size: 1.9em;
      text-shadow: 1px 1px 1px #333; }
  #wb-bnr-ss {
    border-top: 1px solid #fff;
    -webkit-box-shadow: inset 0 1px 5px;
    box-shadow: inset 0 1px 5px; }
  #wb-sec {
    margin-top: 20px;
    padding-bottom: 2em; }
    #wb-sec h3 {
      border: 1px solid #ddd;
      border-bottom: 3px solid #666;
      font-size: 1em;
      margin: 0;
      padding: 15px; }
      #wb-sec h3 a {
        color: #333;
        text-decoration: none; }
    #wb-sec .list-group {
      margin-bottom: 0; }
      #wb-sec .list-group a.list-group-item {
        background: #fff;
        border-radius: 0;
        color: #555;
        margin-top: -1px;
        text-decoration: none; }
      #wb-sec .list-group .list-group .list-group-item {
        background: #e6e6e6;
        color: black;
        padding-left: 1.8em; }
  [dir=rtl] #wmms, [dir=rtl] #wb-srch {
    left: 0;
    right: auto; }
  [dir=rtl] #gcwu-sig {
    float: right; }
  [dir=rtl] #wb-lng {
    float: left;
    padding-right: 5px; } }

/* Large view and over */
@media screen and (min-width: 1200px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Large view and over (screen only)
 */ }

/* Extra-extra-small view */
@media screen and (max-width: 479px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Extra-extra-small view (screen only)
 */ }

/* Extra-small view */
@media screen and (min-width: 480px) and (max-width: 767px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Extra-small view (screen only)
 */ }

/* Small view */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Small view (screen only)
 */
  #wb-srch {
    margin-bottom: 15px; }
  #wb-info h3 {
    white-space: nowrap; } }

/* Medium view */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Medium view (screen only)
 */ }

/* Large view */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Large view (screen only)
 */ }

/* Extra-large view */
@media screen and (min-width: 1600px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Extra-large view (screen only)
 */ }

/* Print view */
@media print {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
  /*
  @title: Print view
 */
  #wb-srch, #wb-sec, #wb-info, #wb-sm {
    display: none !important; }
  #wmms {
    height: 30px;
    position: absolute;
    right: 0;
    top: 0; } }
