<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>Checkboxes and radio buttons - Provisional feature - Canada.ca
</title>
<meta content="width=device-width,initial-scale=1" name="viewport">
<meta name="description" content="Working examples for checkboxes and radio buttons - provisional feature">
<link rel="alternate" hreflang="fr" href="gc-chckbxrdio-fr.html">
<link href="../GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="../GCWeb/css/theme.min.css">
<noscript><link rel="stylesheet" href="../wet-boew/css/noscript.min.css" /></noscript>
</head>
<body vocab="http://schema.org/" resource="#wb-webpage" typeof="WebPage">
<nav>
<ul id="wb-tphp">
<li class="wb-slc">
<a class="wb-sl" href="#wb-cont">Skip to main content</a>
</li>
<li class="wb-slc">
<a class="wb-sl" href="#wb-info">Skip to "About government"</a>
</li>
</ul>
</nav>
<header>
<div id="wb-bnr" class="container">
<div class="row">
<section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
<h2 class="wb-inv">Language selection</h2>
<ul class="list-inline mrgn-bttm-0">
<li>
<a lang="fr" hreflang="fr" href="gc-chckbxrdio-fr.html">
<span class="hidden-xs">Français</span>
<abbr title="Français" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
</a>
</li>
</ul>
</section>
<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" resource="#wb-publisher" typeof="GovernmentOrganization">
<a href="https://www.canada.ca/en.html" property="url"><img src="../GCWeb/assets/sig-blk-en.svg" alt="Government of Canada" property="logo"><span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span></a>
<meta property="name" content="Government of Canada">
<meta property="areaServed" typeof="Country" content="Canada">
<link property="logo" href="../GCWeb/assets/wmms-blk.svg">
</div>
<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
<h2>Search</h2>
<form action="#" method="post" name="cse-search-box" role="search">
<div class="form-group wb-srch-qry">
<label for="wb-srch-q" class="wb-inv">Search Canada.ca</label>
<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search Canada.ca">
<datalist id="wb-srch-q-ac">
</datalist>
</div>
<div class="form-group submit">
<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
</div>
</form>
</section>
</div>
</div>
<nav class="gcweb-menu" typeof="SiteNavigationElement">
<div class="container">
<h2 class="wb-inv">Menu</h2>
<button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
<ul role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html">
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
<li role="presentation"><a role="menuitem" href="https://travel.gc.ca/">Travel and tourism</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/business.html">Business and industry</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/health.html">Health</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
<li role="presentation"><a role="menuitem" href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
</ul>
</div>
</nav>
<nav id="wb-bc" property="breadcrumb">
<h2>You are here:</h2>
<div class="container">
<ol class="breadcrumb">
<li><a href="https://wet-boew.github.io/themes-dist/GCWeb/index-en.html">GCWeb home</a></li><li><a href="https://wet-boew.github.io/themes-dist/GCWeb/provisional-en.html">Provisional functionality</a></li>
</ol>
</div>
</nav>
</header>
<main property="mainContentOfPage" resource="#wb-main" class="container" typeof="WebPageElement">
<h1 property="name" id="wb-cont">Checkboxes and radio buttons - Provisional feature</h1>
<div class="alert alert-warning">
<h2>Unstable feature</h2>
<p>To be used at <strong>your own risk</strong>. All functionality described bellow can be removed in any subsequent minor/major release and are excluded from the gcweb public API.</p>
<p>The documentation and/or a working example for those feature could be incomplete or not available.</p>
<p><a href="../../provisional-en.html">Views all the provisional feature.</a></p>
</div>
<span class="wb-prettify all-pre hide"></span>
<dl class="horizontal">
<dt>Status</dt>
<dd>Provisional</dd>
<dt>Type</dt>
<dd>Canada.ca design pattern</dd>
<dt>Last review</dt>
<dd>2020-07-31</dd>
<dt>Conforming to</dt>
<dd>Content and IA spec 2.1</dd>
<dt>Guidance</dt>
<dd><a href="https://design.canada.ca/common-design-patterns/checkboxes-radio-buttons.html">Context-specific features - Canada.ca design pattern</a></dd>
<dt>Technical name</dt>
<dd>
<ul>
<li><code>gc-chckbxrdio</code></li>
</ul>
</dd>
</dl>
<h2>Working example</h2>
<h3>Checkboxes and radio buttons (provisional v1.0)</h3>
<section>
<h4>Large checkboxes target with explicit labels</h4>
<fieldset class="provisional gc-chckbxrdio chckbxrdio-grp">
<legend>Choose your condiments:</legend>
<ul class="list-unstyled lst-spcd-2">
<li class="checkbox">
<input type="checkbox" id="cond1">
<label for="cond1">Ketchup</label>
</li>
<li class="checkbox">
<input type="checkbox" id="cond2">
<label for="cond2">Relish</label>
</li>
<li class="checkbox">
<input type="checkbox" id="cond3">
<label for="cond3">Mustard</label>
</li>
</ul>
</fieldset>
<h4>Large disabled checkboxes target with explicit labels</h4>
<fieldset class="provisional gc-chckbxrdio chckbxrdio-grp">
<legend>Choose your condiments:</legend>
<ul class="list-unstyled lst-spcd-2">
<li class="checkbox">
<input type="checkbox" id="cond4">
<label for="cond4">Ketchup</label>
</li>
<li class="checkbox">
<input type="checkbox" id="cond5" disabled=disabled>
<label for="cond5">Relish</label>
</li>
<li class="checkbox">
<input type="checkbox" id="cond6" class="disabled" disabled=disabled>
<label for="cond6">Mustard</label>
</li>
</ul>
</fieldset>
</section>
<section>
<h4>Tickbox - single smaller checkbox target with explicit label inline form</h4>
<form class="form-inline" method="get" action="#">
<div class="form-group">
<label class="wb-inv" for="exampleInputEmail2">Email address</label>
<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
</div>
<div class="form-group">
<label class="wb-inv" for="exampleInputPassword2">Password</label>
<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
</div>
<div class="checkbox provisional gc-chckbxrdio">
<input id="remember2" type="checkbox">
<label for="remember2">Remember me</label>
</div>
<button type="submit" class="btn btn-default">Sign in</button>
</form>
<h4>Tickbox - single smaller checkbox targets with explicit label in a filter box</h4>
<div class="row">
<div class="col-md-3">
<h5 class="wb-inv">Filtering options</h5>
<details open>
<summary>
<h5 class="h5">Filter options</h5>
</summary>
<p class="mrgn-tp-md">Use filters to below options to change the focus ...</p>
<form class="wb-tables-filter" data-bind-to="dataset-filter">
<div class="form-group">
<fieldset class="legend-brdr-bttm">
<legend><span class="field-name">For</span></legend>
<ul class="list-unstyled">
<li class="checkbox provisional gc-chckbxrdio">
<input type="checkbox" id="dt_audience1" value="">
<label for="dt_audience1">Everyone</label>
</li>
<li class="checkbox provisional gc-chckbxrdio">
<input type="checkbox" id="dt_audience2" value="">
<label for="dt_audience2">Government</label>
</li>
</ul>
</fieldset>
</div>
</form>
</details>
</div>
<div class="col-md-9">
<table class="wb-tables table table-striped table-hover" id="dataset-filter" aria-live="polite">
<thead>
<tr>
<th>Title</th>
<th>Publication date</th>
<th>Department</th>
<th>News Type</th>
<th>Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td>Backgrounder: Seventeen Infrastructure Projects in ...</td>
<td>2016-07-26 14:07:00</td>
<td>Infrastructure Canada</td>
<td>Backgrounders</td>
<td>The governments of Canada and ...</td>
</tr>
<tr>
<td>Seventeen Infrastructure Projects in ...</td>
<td>2016-07-26 14:07:00</td>
<td>Infrastructure Canada</td>
<td>News Releases</td>
<td>Providing community residents ...</td>
</tr>
</tbody>
</table>
</div>
</div>
</section>
<section>
<h4>Large radio buttons target with explicit labels</h4>
<fieldset class="provisional gc-chckbxrdio chckbxrdio-grp">
<legend>Which is your favorite pet?</legend>
<ul class="list-unstyled lst-spcd-2">
<li class="radio">
<input type="radio" name="animal" id="animal-1">
<label for="animal-1">Dog</label>
</li>
<li class="radio">
<input type="radio" name="animal" id="animal-2">
<label for="animal-2">Cat</label>
</li>
<li class="radio">
<input type="radio" name="animal" id="animal-3">
<label for="animal-3">Rat</label>
</li>
</ul>
</fieldset>
<h4>Large radio buttons target with explicit labels in an inline form</h4>
<fieldset class="provisional gc-chckbxrdio form-inline">
<legend>Choose an option:</legend>
<div class="radio label-inline">
<input id="inlineRadio1" type="radio" name="optradio">
<label for="inlineRadio1">Option 1</label>
</div>
<div class="radio label-inline">
<input id="inlineRadio2" type="radio" name="optradio">
<label for="inlineRadio2">Option 2</label>
</div>
<div class="radio label-inline">
<input id="inlineRadio3" type="radio" name="optradio">
<label for="inlineRadio3">Option 3</label>
</div>
</fieldset>
</section>
<h2>Evaluation and report</h2>
<p>There is no evaluation and report available for this component.</p>
<h2>API (Version 1.0)</h2>
<table class="table table-bordered">
<tr>
<th>CSS Class</th>
<th>Template</th>
<th>Visual rendering</th>
<th>Schema</th>
</tr>
<tr>
<td>Version 1.0</td>
<td>Version 1.0</td>
<td>Version 1.0</td>
<td>n.a.</td>
</tr>
</table>
<h3>CSS Class (v1.0)</h3>
<dl class="dl-horizontal">
<dt><code>gc-chckbxrdio</code></dt>
<dd>Component: Checkboxes and radio buttons - Provisional feature</dd>
</dl>
<details>
<summary>Version notes</summary>
<dl class="dl-horizontal">
<dt>Version 1.0 (v8.0)</dt>
<dd>
<ul>
<li>Created: <code>.gc-chckbxrdio</code></li>
</ul>
</dd>
</dl>
</details>
<h3>Template (v1.0)</h3>
<p>Notes:</p>
<ul>
<li>Can only be used with explicit labels. If you need to use implicit label, refer to WET-BOEW regular pattern for checkboxes and radio buttons.</li>
<li>Add the <code>gc-chckbxrdio</code> class to the <code>fieldset</code> or the container element surrounding the checkbox/radio-button inputs.</li>
<li>For smaller checkboxes (tickboxes), the class <code>gc-chckbxrdio</code> has to be enabled on the container element surrounding the targeted checkbox with the class <code>checkbox</code>.</li>
<li>To toggle a disabled state, add a <code>disabled</code> attribute to the input field.</li>
<li>For inline form, add the <code>form-inline</code> class to surrounding container of the checkboxes or radio buttons. Also add the <code>label-inline</code> class to each checkbox or radio button container.</li>
</ul>
<h4><code>.gc-chckbxrdio</code></h4>
<h5>Three checkboxes layout</h5>
<pre><code>&lt;fieldset class="provisional gc-chckbxrdio chkbxrdio-grp"&gt;
	&lt;legend&gt;[[comp:Checkboxes dct:title]]:&lt;/legend&gt;
	&lt;ul class="list-unstyled lst-spcd-2"&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="[[comp:ChckbxrdioItem html:input-id]]"&gt;
			&lt;label for="[[comp:ChckbxrdioItem html:input-id]]"&gt;[[comp:ChckbxrdioItem in (comp:Chckbxrdio comp:Chckbxsrdios )]]&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="[[comp:ChckbxrdioItem html:input-id]]"&gt;
			&lt;label for="[[comp:ChckbxrdioItem html:input-id]]"&gt;[[comp:ChckbxrdioItem in (comp:Chckbxrdio comp:Chckbxsrdios )]]&lt;/label&gt;
		&lt;/li&gt;
		&lt;li class="checkbox"&gt;
			&lt;input type="checkbox" id="[[comp:ChckbxrdioItem html:input-id]]"&gt;
			&lt;label for="[[comp:ChckbxrdioItem html:input-id]]"&gt;[[comp:ChckbxrdioItem in (comp:Chckbxrdio comp:Chckbxsrdios )]]&lt;/label&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/fieldset&gt;</code></pre>
<h4>Features Variant: <code>.checkbox.gc-chckbxrdio</code></h4>
<pre class="mrgn-tp-md"><code>&lt;form class="form-inline" method="get" action="#"&gt;
	&lt;div class="form-group"&gt;
		&lt;label class="wb-inv" for="exampleInputEmail2"&gt;Email address&lt;/label&gt;
		&lt;input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email" /&gt;
	&lt;/div&gt;
	&lt;div class="form-group"&gt;
		&lt;label class="wb-inv" for="exampleInputPassword2"&gt;Password&lt;/label&gt;
		&lt;input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" /&gt;
	&lt;/div&gt;
	&lt;div class="checkbox provisional gc-chckbxrdio"&gt;
		&lt;input id="[[comp:CheckboxItem html:input-id]]" type="checkbox"/&gt;
		&lt;label for="[[comp:CheckboxItem html:input-id]]"&gt;[[comp:CheckboxItem in (comp:Checkbox comp:checkboxes )]]&lt;/label&gt;
	&lt;/div&gt;
	&lt;button type="submit" class="btn btn-default"&gt;Sign in&lt;/button&gt;
&lt;/form&gt;</code></pre>
<h3>Visual rendering (v1.0)</h3>
<details>
<summary>Version notes</summary>
<dl class="dl-horizontal">
<dt>Version 1.0</dt>
<dd>
<ul>
<li>Original rendering</li>
</ul>
</dd>
</dl>
</details>
<div class="pagedetails">
<div class="row">
<div class="col-sm-6 col-md-5 col-lg-4">
<details class="brdr-0">
<summary class="btn btn-default text-center">Report a problem on this page</summary>
<div class="well row">
<div class="gc-rprt-prblm">
<div class="gc-rprt-prblm-frm gc-rprt-prblm-tggl">
<form action="#">
<fieldset>
<legend><span class="field-name">Please select all that apply: </span></legend>
<div class="checkbox">
<label for="gc-rprt-prblm-f1">
<input type="checkbox" name="problem1" value="Yes" id="gc-rprt-prblm-f1">A link, button or video is not working
</label>
<input name="problem1" type="hidden" value="No">
</div>
<div class="checkbox">
<label for="gc-rprt-prblm-f2">
<input type="checkbox" name="problem2" value="Yes" id="gc-rprt-prblm-f2">It has a spelling mistake
</label>
<input name="problem2" type="hidden" value="No">
</div>
<div class="checkbox">
<label for="gc-rprt-prblm-f3">
<input type="checkbox" name="problem3" value="Yes" id="gc-rprt-prblm-f3">Information is missing
</label>
<input name="problem3" type="hidden" value="No">
</div>
<div class="checkbox">
<label for="gc-rprt-prblm-f4">
<input type="checkbox" name="problem4" value="Yes" id="gc-rprt-prblm-f4">Information is outdated or wrong
</label>
<input name="problem4" type="hidden" value="No">
</div>
<div class="checkbox">
<label for="gc-rprt-prblm-f5">
<input type="checkbox" name="problem5" value="Yes" id="gc-rprt-prblm-f5">I can't find what I'm looking for
</label>
<input name="problem5" type="hidden" value="No">
</div>
<div class="checkbox">
<label for="gc-rprt-prblm-f6">
<input type="checkbox" name="problem6" value="Yes" id="gc-rprt-prblm-f6">Other issue not in this list
</label>
<input name="problem6" type="hidden" value="No">
</div>
</fieldset>
<button type="submit" class="btn btn-primary wb-toggle" data-toggle='{"stateOff": "hide", "stateOn": "show", "selector": ".gc-rprt-prblm-tggl"}'>Submit</button>
</form>
</div>
<div class="gc-rprt-prblm-thnk gc-rprt-prblm-tggl hide">
<h3>Thank you for your help!</h3>
<p>You will not receive a reply. For enquiries, please <a href="https://www.canada.ca/en/contact.html">contact us</a>.</p>
</div>
</div>
</div>
</details>
</div>
</div>
<dl id="wb-dtmd">
<dt>Date modified:&#32;</dt>
<dd><time property="dateModified">2020-09-16</time></dd>
</dl>
</div>
</main>
<footer id="wb-info">
<div class="landscape">
<nav class="container wb-navcurr">
<h2 class="wb-inv">About government</h2>
<ul class="list-unstyled colcount-sm-2 colcount-md-3">
<li><a href="https://www.canada.ca/en/contact.html">Contact us</a></li>
<li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
<li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a></li>
<li><a href="https://www.canada.ca/en/news.html">News</a></li>
<li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a></li>
<li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
<li><a href="https://pm.gc.ca/eng">Prime Minister</a></li>
<li><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
<li><a href="https://open.canada.ca/en/">Open government</a></li>
</ul>
</nav>
</div>
<div class="brand">
<div class="container">
<div class="row">
<nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
<h2 class="wb-inv">About this site</h2>
<ul>
<li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
<li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
<li><a href="https://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
<li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
<li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
</ul>
</nav>
<div class="col-xs-6 visible-sm visible-xs tofpg">
<a href="#wb-cont">Top of page <span class="glyphicon glyphicon-chevron-up"></span></a>
</div>
<div class="col-xs-6 col-md-3 col-lg-2 text-right">
<img src="../GCWeb/assets/wmms-blk.svg" alt="Symbol of the Government of Canada">
</div>
</div>
</div>
</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="../wet-boew/js/wet-boew.min.js"></script>
<script src="../GCWeb/js/theme.min.js"></script>
</body>
</html>