<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>Services and information - Common design pattern - Canada.ca
</title>
<meta content="width=device-width,initial-scale=1" name="viewport">
<meta name="description" content="Web Experience Toolkit (WET) includes reusable components for building and maintaining innovative Web sites that are accessible, usable, and interoperable. These reusable components are open source software and free for use by departments and external Web communities">
<link rel="alternate" hreflang="fr" href="gc-servinfo-fr.html">
<link href="../GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="../GCWeb/css/theme.min.css">
<noscript><link rel="stylesheet" href="../wet-boew/css/noscript.min.css" /></noscript>
</head>
<body vocab="http://schema.org/" resource="#wb-webpage" typeof="WebPage">
<nav>
<ul id="wb-tphp">
<li class="wb-slc">
<a class="wb-sl" href="#wb-cont">Skip to main content</a>
</li>
<li class="wb-slc">
<a class="wb-sl" href="#wb-info">Skip to "About government"</a>
</li>
</ul>
</nav>
<header>
<div id="wb-bnr" class="container">
<div class="row">
<section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
<h2 class="wb-inv">Language selection</h2>
<ul class="list-inline mrgn-bttm-0">
<li>
<a lang="fr" hreflang="fr" href="gc-servinfo-fr.html">
<span class="hidden-xs">Français</span>
<abbr title="Français" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
</a>
</li>
</ul>
</section>
<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" resource="#wb-publisher" typeof="GovernmentOrganization">
<a href="https://www.canada.ca/en.html" property="url"><img src="../GCWeb/assets/sig-blk-en.svg" alt="Government of Canada" property="logo"><span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span></a>
<meta property="name" content="Government of Canada">
<meta property="areaServed" typeof="Country" content="Canada">
<link property="logo" href="../GCWeb/assets/wmms-blk.svg">
</div>
<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
<h2>Search</h2>
<form action="#" method="post" name="cse-search-box" role="search">
<div class="form-group wb-srch-qry">
<label for="wb-srch-q" class="wb-inv">Search Canada.ca</label>
<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search Canada.ca">
<datalist id="wb-srch-q-ac">
</datalist>
</div>
<div class="form-group submit">
<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
</div>
</form>
</section>
</div>
</div>
<nav class="gcweb-menu" typeof="SiteNavigationElement">
<div class="container">
<h2 class="wb-inv">Menu</h2>
<button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
<ul role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html">
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
<li role="presentation"><a role="menuitem" href="https://travel.gc.ca/">Travel and tourism</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/business.html">Business and industry</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/health.html">Health</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
<li role="presentation"><a role="menuitem" href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
</ul>
</div>
</nav>
<nav id="wb-bc" property="breadcrumb">
<h2>You are here:</h2>
<div class="container">
<ol class="breadcrumb">
<li><a href="https://wet-boew.github.io/themes-dist/GCWeb/index-en.html">GCWeb home</a></li>
</ol>
</div>
</nav>
</header>
<main property="mainContentOfPage" resource="#wb-main" class="container" typeof="WebPageElement">
<h1 property="name" id="wb-cont">Services and information - Common design pattern</h1>
<div class="wb-prettify all-pre hide"></div>
<dl class="horizontal">
<dt>Status</dt>
<dd>Up to spec</dd>
<dt>Type</dt>
<dd>Common design pattern</dd>
<dt>Last review</dt>
<dd>2019-01-08</dd>
<dt>Conforming to</dt>
<dd>Content and IA spec 1.5.1</dd>
<dt>Specification</dt>
<dd><a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/common-design-patterns.html#services-information">Common design patterns - Services and information</a></dd>
<dt>Technical name</dt>
<dd><code>gc-srvinfo</code></dd>
</dl>
<h2>Working example</h2>
<ul>
<li><a href="gc-srvinfo-examples.html#eg1">Example 1: Doormat link in 2 column pattern</a></li>
<li><a href="gc-srvinfo-examples.html#eg2">Example 2: Doormat link in single column pattern</a></li>
<li><a href="gc-srvinfo-examples.html#eg3">Example 3: Sequential doormat link in single column pattern</a></li>
<li><a href="gc-srvinfo-examples.html#eg4">Example 4: Doormat link in 3 columns grouped with heading pattern</a></li>
</ul>
<h2>Evaluation and report</h2>
<p>There is no evaluation and report available for this component</p>
<h2>API (Version 3.0)</h2>
<table class="table table-bordered">
<tr>
<th>CSS Class</th>
<th>Template</th>
<th>Visual rendering</th>
<th>Schema</th>
</tr>
<tr>
<td>Version 1.3</td>
<td>Version 3.0</td>
<td>Version 1.1</td>
<td>Version 1.1</td>
</tr>
</table>
<h3>CSS Class (v1.3)</h3>
<dl class="dl-horizontal">
<dt><code>gc-srvinfo</code></dt>
<dd>Component: Service and information</dd>
<dt><code>gc-drmt</code></dt>
<dd>Component: (Deprecated) Doormat link. Defined inside a Service and information component.</dd>
</dl>
<details>
<summary>Version notes</summary>
<dl class="dl-horizontal">
<dt>Version 1.3</dt>
<dd>
<ul>
<li>Added: <code>gc-srvinfo</code></li>
</ul>
</dd>
<dt>Version 1.2 (between v4.0.28.1 and v4.0.27)</dt>
<dd>
<ul>
<li>Depricated: <code>gc-drmt</code></li>
</ul>
</dd>
<dt>Version 1.1 (between v4.0.21 and v4.0.26)</dt>
<dd>
<ul>
<li>Added: <code>gc-drmt</code></li>
</ul>
</dd>
<dt>Version 1.0</dt>
<dd>There were no exclusive CSS class</dd>
</dl>
</details>
<h3>Template (v3.0)</h3>
<p>Notes:</p>
<ul>
<li>The heading level are ajusted based on the context of use</li>
<li>The following are the official supported/versionned markup</li>
<li>Template for each grouping and column rendering</li>
</ul>
<pre><code>&lt;section class="gc-srvinfo"&gt;
	&lt;h2&gt;[[comp:SrvInfo dct:title]]&lt;/h2&gt;

	&lt;!-- Two column && ( Subheading || Demand ) [default] --&gt;
	&lt;div data-if="comp:SrvInfo comp:srvInfoCol == comp:SrvInfo2Col &&
					( comp:SrvInfo comp:srvInfoGroupAs == comp:SrvInfoSubheading ||
					comp:SrvInfo comp:srvInfoGroupAs == comp:SrvInfoDemand )" class="wb-eqht row"&gt;
		&lt;div data-for="comp:Doormat in ( comp:SrvInfo comp:doormats )" class="col-md-6"&gt;
			&lt;h3&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;!-- One column && ( Subheading || Demand ) --&gt;
	&lt;div data-if="comp:SrvInfo comp:srvInfoCol == comp:SrvInfo1Col &&
					( comp:SrvInfo comp:srvInfoGroupAs == comp:SrvInfoSubheading ||
					comp:SrvInfo comp:srvInfoGroupAs == comp:SrvInfoDemand )" data-for="comp:Doormat in (comp:SrvInfo comp:doormats )"&gt;
		&lt;h3&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
		&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
	&lt;/div&gt;

	&lt;!-- Three column && ( Subheading || Demand ) --&gt;
	&lt;div data-if="comp:SrvInfo comp:srvInfoCol == comp:SrvInfo3Col &&
					( comp:SrvInfo comp:srvInfoGroupAs == comp:SrvInfoSubheading ||
					comp:SrvInfo comp:srvInfoGroupAs == comp:SrvInfoDemand )" class="wb-eqht row"&gt;
		&lt;div data-for="comp:Doormat in ( comp:SrvInfo comp:doormats )" class="col-md-6 col-lg-4"&gt;
			&lt;h3&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;!-- Sequential (One column only) --&gt;
	&lt;div data-if="comp:SrvInfo comp:srvInfoGroupAs == comp:SrvInfoSequential"&gt;
		&lt;ol&gt;
			&lt;li data-for="comp:Doormat in ( comp:SrvInfo comp:doormats )"&gt;
				&lt;h3&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
			&lt;/li&gt;
		&lt;/ol&gt;
	&lt;/div&gt;

&lt;/section&gt;</code></pre>
<details>
<summary>Previous version</summary>
<dl class="dl-horizontal">
<dt>v4.0.28.1 to v4.0.27 <code>testCase-v4.0.27</code> (2.0)</dt>
<dd>
<ul>
<li>Clearfix removed</li>
<li>Doormat component explicit name CSS removed</li>
<li>More services and information when more than 10 doormat, removed</li>
</ul>
</dd>
<dt>v4.0.26 to v4.0.22 <code>testCase-v4.0.22</code> (1.2)</dt>
<dd>
<ul>
<li>Separated column layout from section delimited</li>
</ul>
</dd>
<dt>v4.0.21 <code>testCase-v4.0.21</code> (1.1)</dt>
<dd>
<ul>
<li>Limit default visible result to 10</li>
</ul>
</dd>
<dt>v4.0.20 to v4.0.5 <code>testCase-v4.0.5</code> (1.0)</dt>
<dd>
<p>Initial template</p>
</dd>
</dl>
<pre><code>&lt;section&gt;
	&lt;h2&gt;[[comp:SrvInfo dct:title]]&lt;/h2&gt;

	&lt;!-- v4.0.28.1 to v4.0.27
		* Clearfix removed
		* Doormat component explicit name CSS removed
		* More services and information when more than 10 doormat, removed
	--&gt;
	&lt;div data-if="testCase-v4.0.27" class="wb-eqht row"&gt;
		&lt;template data-for="comp:Doormat in ( comp:SrvInfo comp:doormats )" class="col-md-6"&gt;
			&lt;div class="col-md-6"&gt;
				&lt;section&gt;
					&lt;h3 class="h5"&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
				&lt;/section&gt;
			&lt;/div&gt;
		&lt;/template&gt;
	&lt;/div&gt;

	&lt;!-- v4.0.26  to v4.0.22
		* Separated column layout from section delimited
	--&gt;
	&lt;div data-if="testCase-v4.0.22" class="row"&gt;
		&lt;template data-for="comp:Doormat in ( comp:SrvInfo comp:doormats )" class="col-md-6"&gt;
			&lt;div data-if="IterationIndex &lt;= 10" class="col-md-6"&gt;
				&lt;section class="gc-drmt"&gt;
					&lt;h3 class="h5"&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
				&lt;/section&gt;
			&lt;/div&gt;
			&lt;div data-if="IterationIndex mod( 2 )" class="clearfix"&gt;&lt;/div&gt;
			&lt;template data-if="IterationIndex &gt; 10"&gt;
				&lt;details class="mrgn-tp-md brdr-0"&gt;
					&lt;summary class="btn btn-default text-center"&gt;Show more services and informations&lt;/summary&gt;
					&lt;div class="row"&gt;
						&lt;template data-for="comp:Doormat in IterationCollection"&gt;
							&lt;div class="col-md-6"&gt;
								&lt;section class="gc-drmt"&gt;
									&lt;h3 class="h5"&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
									&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
								&lt;/section&gt;
							&lt;/div&gt;
							&lt;div data-if="IterationIndex mod( 2 )" class="clearfix"&gt;&lt;/div&gt;
						&lt;/template&gt;
					&lt;/div&gt;
				&lt;/details&gt;
			&lt;/template&gt;
		&lt;/template&gt;
	&lt;/div&gt;

	&lt;!-- v4.0.21
		* Limit default visible result to 10
	--&gt;
	&lt;div data-if="testCase-v4.0.21" class="wb-eqht row"&gt;
		&lt;template data-for="comp:Doormat in ( comp:SrvInfo comp:doormats )" class="col-md-6"&gt;
			&lt;section data-if="IterationIndex &lt;= 10" class="col-md-6 gc-drmt"&gt;
				&lt;h3 class="h5"&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
			&lt;/section&gt;
			&lt;div data-if="IterationIndex mod( 2 )" class="clearfix"&gt;&lt;/div&gt;
			&lt;template data-if="IterationIndex &gt; 10"&gt;
				&lt;details class="mrgn-tp-md brdr-0"&gt;
					&lt;summary class="btn btn-default text-center"&gt;Show more services and informations&lt;/summary&gt;
					&lt;div class="row"&gt;
						&lt;template data-for="comp:Doormat in IterationCollection"&gt;
							&lt;section class="col-md-6 gc-drmt"&gt;
									&lt;h3 class="h5"&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
									&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
							&lt;/section&gt;
							&lt;div data-if="IterationIndex mod( 2 )" class="clearfix"&gt;&lt;/div&gt;
						&lt;/template&gt;
					&lt;/div&gt;
				&lt;/details&gt;
			&lt;/template&gt;
		&lt;/template&gt;
	&lt;/div&gt;

	&lt;!-- v4.0.20 to v4.0.5 --&gt;
	&lt;div data-if="testCase-v4.0.5" class="row"&gt;
		&lt;template data-for="comp:Doormat in ( comp:SrvInfo comp:doormats )" class="col-md-6"&gt;
			&lt;section class="col-md-6"&gt;
				&lt;h3 class="h5"&gt;&lt;a data-bind="(href = comp:Doormat foaf:page)"&gt;[[comp:Doormat dct:title]]&lt;/a&gt;&lt;/h3&gt;
				&lt;p&gt;[[comp:Doormat dct:description]]&lt;/p&gt;
			&lt;/section&gt;
			&lt;div data-if="IterationIndex mod( 2 )" class="clearfix"&gt;&lt;/div&gt;
		&lt;/template&gt;
	&lt;/div&gt;
&lt;/section&gt;</code></pre>
</details>
<h3>Visual rendering (v1.1)</h3>
<dl>
<dt>Doormat header <code>comp:Doormat dct:title</code></dt>
<dd>
<ul>
<li>Same style as the heading level 5: Lato, 20px, bold</li>
<li>Set the margin top as the same as heading level 5 (h5)</li>
<li>Set the margin bottom to be small: 5px</li>
</ul>
</dd>
<dt>Doormat description <code>comp:Doormat dct:description</code></dt>
<dd>
<ul>
<li>Desktop: Noto sans, 17px, plain text</li>
<li>Smaller devices: Noto sans, 19px, plain text</li>
</ul>
</dd>
</dl>
<details>
<summary>Previous version</summary>
<dl class="dl-horizontal">
<dt>on and prior v4.0.29 (1.0)</dt>
<dd>Doormat header <code>comp:Doormat dct:title</code> is the same style as the heading level 5</dd>
</dl>
</details>
<h3>Schema (v1.1)</h3>
<pre><code>#
# Schema of the Service and Information component
#

@prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; .
@prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt; .
@prefix xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt; .
@prefix dct: &lt;http://purl.org/dc/terms/&gt; .
@prefix skos: &lt;http://www.w3.org/2004/02/skos/core#&gt; .
@prefix wms: &lt;http://vocab.canada.ca/wms&gt; .
@prefix comp: &lt;http://vocab.canada.ca/wms/component&gt; .


comp:SrvInfo
	dct:issued "2018-12-28"^^xsd:date ;
	a rdfs:Class, wms:Component ;
	wms:componentName "gc-srvinfo" ;
	rdfs:label "Service and information"@en ;
	rdfs:label "Service et renseignements"@fr ;
	rdfs:isDefinedBy &lt;https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/canada-content-information-architecture-specification/common-design-patterns.html#services-information&gt;@en;
	rdfs:isDefinedBy &lt;https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/specifications-contenu-architecture-information-canada/configurations-conception-communes.html#services-renseignements&gt;@fr;

comp:Doormat
	dct:issued "2018-12-28"^^xsd:date ;
	a rdfs:Class, wms:Component ;
	rdfs:label "Doormat link"@en ;
	rdfs:label "Liens avec description connexe"@fr ;

comp:doormats
	dct:issued "2018-12-28"^^xsd:date ;
	a rdf:Property ;
	rdfs:domains comp:SrvInfo ;
	rdfs:range comp:Doormat .

comp:srvInfoGroupAs
	dct:issued "2018-12-28"^^xsd:date ;
	rdfs:label "Type for this group of doormat links"@en ;
	rdfs:domains comp:SrvInfo ;
	rdfs:range comp:SrvInfoDemand ;
	rdfs:range comp:SrvInfoSequential ;
	rdfs:range comp:SrvInfoSubheading .

comp:SrvInfoDemand
	a rdfs:Class ;
	rdfs:label "Demand-based"@en .

comp:SrvInfoSequential
	a rdfs:Class ;
	rdfs:label "Demand-based"@en .

comp:SrvInfoSubheading
	a rdfs:Class ;
	rdfs:label "Demand-based"@en .

comp:srvInfoCol
	dct:issued "2018-12-31"^^xsd:date ;
	rdfs:label "Column layout rendering"@en ;
	a rdf:Property ;
	rdfs:range comp:SrvInfo1Col ;
	rdfs:range comp:SrvInfo2Col ;
	rdfs:range comp:SrvInfo3Col .

comp:SrvInfo1Col
	a rdfs:Class ;
	rdfs:label "One Column"@en .

comp:SrvInfo2Col
	a rdfs:Class ;
	rdfs:label "Two Column"@en .

comp:SrvInfo3Col
	a rfds:Class ;
	rdfs:label "Three Column"@en
	rdfs:comment "Used essentially for the home page" .

</code></pre>
<p>Shapes graphs</p>
<pre><code>#
# Shape graph of the Service and Information component
#

@prefix sh: &lt;http://www.w3.org/ns/shacl#&gt; .
@prefix dct: &lt;http://purl.org/dc/terms/&gt; .
@prefix foaf: &lt;http://xmlns.com/foaf/0.1/&gt; .
@prefix comp: &lt;http://vocab.canada.ca/wms/component&gt; .

comp:SrvInfoShape
	a sh:NodeShape ;
	sh:targetClass comp:SrvInfo ;
	sh:and (
		[
			sh:path dct:title ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path comp:doormats ;
			sh:minExclusive 0 ;
			sh:severity sh:Warning ;
		]
	)
	sh:property [
		sh:path comp:srvInfoGroupAs ;
		sh:in ( comp:SrvInfoDemand comp:SrvInfoSequential comp:SrvInfoSubheading ) ;
		sh:severity sh:Violation ;
		sh:defaultValue comp:SrvInfoSubheading ;
	]
	sh:property [
		sh:path comp:srvInfoCol ;
		sh:in ( comp:SrvInfo1Col comp:SrvInfo2Col comp:SrvInfo3Col ) ;
		sh:severity sh:Violation ;
		sh:defaultValue comp:SrvInfo2Col ;
	] .

comp:DoormatShape
	a sh:NodeShape ;
	sh:targetClass comp:Doormat ;
	sh:and (
		[
			sh:path dct:title ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path dct:description ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path foaf:page ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
	) .</code></pre>
<details>
<summary>Previous version</summary>
<dl class="dl-horizontal">
<dt>on and prior v4.0.29 (1.0)</dt>
<dd>
<p>Same as 1.1 without:</p>
<ul>
<li><code>comp:srvInfoGroupAs</code></li>
<li><code>comp:SrvInfoDemand</code></li>
<li><code>comp:SrvInfoSequential</code></li>
<li><code>comp:SrvInfoSubheading</code></li>
<li><code>comp:srvInfoCol</code></li>
<li><code>comp:SrvInfo1Col</code></li>
<li><code>comp:SrvInfo2Col</code></li>
<li><code>comp:SrvInfo3Col</code></li>
</ul>
</dd>
</dl>
</details>
<h4>JSON-LD sample</h4>
<pre><code>{
	"@context": {
		"foaf": "http://xmlns.com/foaf/0.1/",
		"dct": "http://purl.org/dc/terms/",
		"comp": "http://vocab.canada.ca/wms/component"
	},
	"dct:title": "Services et renseignements",
	"comp:srvInfoGroupAs": "comp:SrvInfoDemand",
	"comp:srvInfoCol": "comp:SrvInfo2Col",
	"comp:doormats": [
		{
			"foaf:page": "https://www.canada.ca/doormat/link",
			"dct:title": "[Doormat title]",
			"dct:description": "[Doormat description]"
		},
		{
			"foaf:page": "https://www.canada.ca/doormat/link/2",
			"dct:title": "[Doormat title 2]",
			"dct:description": "[Doormat description 2]"
		},
		{
			"foaf:page": "https://www.canada.ca/doormat/link/3",
			"dct:title": "[Doormat title 3]",
			"dct:description": "[Doormat description 3]"
		}
	]
}
</code></pre>
<h2>Reference</h2>
<ul>
<li><a href="https://www.w3.org/TR/shacl/">SHACL Shapes Constraint Language (https://www.w3.org/TR/shacl/)</a></li>
</ul>
<div class="pagedetails">
<div class="row">
<div class="col-sm-6 col-md-5 col-lg-4">
<details class="brdr-0">
<summary class="btn btn-default text-center">Report a problem on this page</summary>
<div class="well row">
<div class="gc-rprt-prblm">
<div class="gc-rprt-prblm-frm gc-rprt-prblm-tggl">
<form action="#">
<fieldset>
<legend><span class="field-name">Please select all that apply: </span></legend>
<div class="checkbox">
<label for="gc-rprt-prblm-f1">
<input type="checkbox" name="problem1" value="Yes" id="gc-rprt-prblm-f1">A link, button or video is not working
</label>
<input name="problem1" type="hidden" value="No">
</div>
<div class="checkbox">
<label for="gc-rprt-prblm-f2">
<input type="checkbox" name="problem2" value="Yes" id="gc-rprt-prblm-f2">It has a spelling mistake
</label>
<input name="problem2" type="hidden" value="No">
</div>
<div class="checkbox">
<label for="gc-rprt-prblm-f3">
<input type="checkbox" name="problem3" value="Yes" id="gc-rprt-prblm-f3">Information is missing
</label>
<input name="problem3" type="hidden" value="No">
</div>
<div class="checkbox">
<label for="gc-rprt-prblm-f4">
<input type="checkbox" name="problem4" value="Yes" id="gc-rprt-prblm-f4">Information is outdated or wrong
</label>
<input name="problem4" type="hidden" value="No">
</div>
<div class="checkbox">
<label for="gc-rprt-prblm-f5">
<input type="checkbox" name="problem5" value="Yes" id="gc-rprt-prblm-f5">I can't find what I'm looking for
</label>
<input name="problem5" type="hidden" value="No">
</div>
<div class="checkbox">
<label for="gc-rprt-prblm-f6">
<input type="checkbox" name="problem6" value="Yes" id="gc-rprt-prblm-f6">Other issue not in this list
</label>
<input name="problem6" type="hidden" value="No">
</div>
</fieldset>
<button type="submit" class="btn btn-primary wb-toggle" data-toggle='{"stateOff": "hide", "stateOn": "show", "selector": ".gc-rprt-prblm-tggl"}'>Submit</button>
</form>
</div>
<div class="gc-rprt-prblm-thnk gc-rprt-prblm-tggl hide">
<h3>Thank you for your help!</h3>
<p>You will not receive a reply. For enquiries, please <a href="https://www.canada.ca/en/contact.html">contact us</a>.</p>
</div>
</div>
</div>
</details>
</div>
<div class="wb-share col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-4 col-lg-offset-5" data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div>
</div>
<dl id="wb-dtmd">
<dt>Date modified:&#32;</dt>
<dd><time property="dateModified">2019-01-08</time></dd>
</dl>
</div>
</main>
<footer id="wb-info">
<div class="landscape">
<nav class="container wb-navcurr">
<h2 class="wb-inv">About government</h2>
<ul class="list-unstyled colcount-sm-2 colcount-md-3">
<li><a href="https://www.canada.ca/en/contact.html">Contact us</a></li>
<li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
<li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a></li>
<li><a href="https://www.canada.ca/en/news.html">News</a></li>
<li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a></li>
<li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
<li><a href="https://pm.gc.ca/eng">Prime Minister</a></li>
<li><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
<li><a href="https://open.canada.ca/en/">Open government</a></li>
</ul>
</nav>
</div>
<div class="brand">
<div class="container">
<div class="row">
<nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
<h2 class="wb-inv">About this site</h2>
<ul>
<li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
<li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
<li><a href="https://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
<li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
<li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
</ul>
</nav>
<div class="col-xs-6 visible-sm visible-xs tofpg">
<a href="#wb-cont">Top of page <span class="glyphicon glyphicon-chevron-up"></span></a>
</div>
<div class="col-xs-6 col-md-3 col-lg-2 text-right">
<img src="../GCWeb/assets/wmms-blk.svg" alt="Symbol of the Government of Canada">
</div>
</div>
</div>
</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="../wet-boew/js/wet-boew.min.js"></script>
<script src="../GCWeb/js/theme.min.js"></script>
</body>
</html>